@charset "UTF-8";

.editor-share-box {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.editor-share-box.active {
    display: flex;
}

.editor-share-box .editor-share-inner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 10px;
    width: 90%;
    min-width: 300px;
    max-width: 360px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #fff;
}

.editor-share-box .editor-share-inner .editor-share-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-bottom: 15px;
    height: 20px;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.editor-share-box .editor-share-inner .editor-share-title i {
    font-size: 16px;
    cursor: pointer
}

.editor-share-box .editor-share-inner .editor-share-content {
    height: auto
}

.editor-share-box .editor-share-inner .editor-share-content ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}

.editor-share-box .editor-share-inner .editor-share-content ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.editor-share-box .editor-share-inner .editor-share-content ul li img {
    margin: auto;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.editor-share-box .editor-share-inner .editor-share-content ul li span {
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

.editor-share-box .editor-share-inner .editor-share-content .editor-share-urls {
    margin-top: 20px;
}

.editor-share-box .editor-share-inner .editor-share-content .editor-share-urls p {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 15px;
    width: 90%;
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

.editor-share-box .editor-share-inner .editor-share-content .editor-share-urls p span {
    display: inline-block;
    width: 60px
}

.editor-share-box .editor-share-inner .editor-share-content .editor-share-urls p input {
    flex: 1;
    background-color: #eee;
}

.editor-share-box .editor-share-inner .editor-share-content .editor-share-urls p small {
    display: inline-block;
    padding: 0 5px;
    width: 30px;
    color: #fff;
    background: #e03e3e;
    font-size: 12px;
    line-height: 2.5;
    cursor: pointer;
}

#openBtn {
    margin: 10px 5px;
    padding: 5px 8px;
    background-color: #f00;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    cursor: pointer;
}

#openBtn i {
    margin-left: 5px;
}